<%- include common/header.ejs %>

<div class="container">

    <%- include common/navbar.ejs %>

    <div class="jumbotron">
        <h1>
            <%=title %>
        </h1>
    </div>
    <%if(!isLoggedIn){%>
    <div class="row">
        <br/>
        <div class="col-md-4 col-sm-4 text-center">
            Sign In
            <form name="signInForm" action="/auth/signin" method="post">
                User Name:<br/> <input name="username"><br/>
                Password:<br/><input type="password" name="password"><br/>
                <input type="submit" value="Sign In">
            </form>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            Sign Up
            <form name="signUpForm" action="/auth/signup" method="post">
                User Name:<br/><input name="username"><br/>
                Password:<br/><input type="password" name="password"><br/>
                Repeat Password:<br/><input type="password" name="repeatedPassword"><br/>
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
    <%} else {%>
        <div class="row text-center">
            <h3>
                Hello <%=username%>
            </h3>
        </div>
    <%}%>
</div>

<%- include common/footer.ejs %>
