<%- include common/header.ejs %>
<%- include common/navbar.ejs %>
<% if(messages.success){ %>
<div class="row text-center alert alert-success">
    <h1><%= messages.success %></h1>
</div>
<% } %>
<% if(user.githubName && user.username){ %>
<div class="row text-center">
    <h3>
        Hello <%= user.githubName %>, a.k.a. <%= user.username %>!
    </h3>
</div>
<div class="row">
    <div class="col col-md-4">
        <div id="unlinkGithubContainer">
            <div class="form-group">
                <label for="githubUnlink">Click to unlink your github account:</label><br/>
                    <button id="unlinkGithubBtn" class="btn btn-warning">Unlink Github</button>
            </div>
        </div>
        <div id="unlinkGithubForm" style="display: none;">
            <form name="unlinkGithubForm" action="/auth/unlink/github" method="post">
                <div class="form-group">
                    <label for="unlinkGithubInput">Your password to confirm unlinking github account:</label>
                    <input type="password" name="unlinkGithubInput" class="form-control" id="unlinkGithubInput" minlength="6"
                           maxlength="32" required>
                </div>
                <input type="submit" value="Unlink" id="unlinkGithubSubmit" class="btn btn-primary">
                <input type="reset" value="Discard" id="discardUnlinkGithub" class="btn btn-info"><br/>
                <input type="reset" id="resetPassword1" value="forgotten your password?" class="btn btn-default btn-xs">
            </form>
        </div>
        <div id="resetPasswordForm1" style="display: none">
            <form name="resetPasswordForm1" action="/email/send" method="post">
                <div class="form-group">
                    <label for="emailReset1">Email to send temporary password:</label>
                    <input type="email" name="emailReset" class="form-control" id="emailReset1" minlength="6"
                           maxlength="32" required value=<%=user.email%>>
                </div>
                <input type="submit" value="Send" id="saveResetPassword1" class="btn btn-primary">
                <input type="reset" value="Discard" id="discardResetPassword1" class="btn btn-default">
            </form>
        </div>
    </div>

<% } else if(!user.username) { %>
<div class="row text-center">
    <h3>
        Hello <%= user.githubName %>!
    </h3>
</div>
<div class="row">
<% } else if(!user.githubName) { %>
<div class="row text-center">
    <h3>
        Hello <%= user.username %>!
    </h3>
</div>
<div class="row">
<% } %>
    <% if(user.username) { %>
    <% if(!user.githubID) { %>
    <div class="col-md-4">
        <div class="form-group">
            <label for="github">Link your GitHub account here</label><br/>
            <a href="/auth/github/connect" id="github"><img src="images/GithubLogo.png"
                                                            style="width: 80px; height: 80px;"></a>
        </div>
    </div>
    <% } %>
    <div class="col col-md-4">
        <div id="changePasswordContainer">
            <label for="changePassword">Click to change your password:</label><br/>
            <button id="changePassword" class="btn btn-default">Change Password</button>
        </div>
        <div id="changePasswordForm" style="display: none">
            <form action="/profile/changepassword" method="post">
                <div class="form-group">
                    <label for="passwordOldInput">Current password:</label>
                    <input type="password" name="passwordOld" id="passwordOldInput" class="form-control"
                           minlength="6"
                           maxlength="32"
                           onkeyup='checkPass();'
                           required>
                    <label for="passwordNewInput">New password:</label>
                    <input type="password" name="passwordNew" id="passwordNewInput" class="form-control"
                           minlength="6"
                           maxlength="32"
                           onkeyup='checkPass();'
                           required>
                    <label for="repeatedPasswordNewInput">Confirm new password:</label>
                    <input type="password" name="repeatedPasswordNew" id="repeatedPasswordNewInput"
                           class="form-control"
                           minlength="6"
                           maxlength="32"
                           onkeyup='checkPass();'
                           required>
                </div>
                <input type="submit" value="Save" id="saveChangePassword" class="btn btn-primary" disabled>
                <input type="reset" value="Discard" id="discardChangePassword" class="btn btn-info"><br/>
                <input type="reset" id="resetPassword" value="forgotten your password?" class="btn btn-default btn-xs">
            </form>
        </div>
        <div id="resetPasswordForm" style="display: none">
        <form name="resetPasswordForm" action="/email/send" method="post">
            <div class="form-group">
                <label for="emailReset">Email to send temporary password:</label>
                <input type="email" name="emailReset" class="form-control" id="emailReset" minlength="6"
                       maxlength="32" required value=<%=user.email%>>
            </div>
            <input type="submit" value="Send" id="saveResetPassword" class="btn btn-primary">
            <input type="reset" value="Discard" id="discardResetPassword" class="btn btn-default">
        </form>
        </div>
    </div>
    <div class="col col-md-4">
        <div id="deleteAccountContainer">
            <label for="deleteAccount">Click to delete your account:</label><br/>
            <button id="deleteAccount" class="btn btn-danger">Delete Account</button>
        </div>
        <div id="deleteAccountForm" style="display: none">
            <form action="/profile/delete" method="post">
                <div class="form-group">
                    <label for="deleteAccountInput">Confirm deletion of your profile:</label>
                    <input type="password" name="password" id="deleteAccountInput" class="form-control"
                           minlength="6"
                           maxlength="32"
                           required>
                </div>
                <input type="submit" value="Delete" class="btn btn-danger">
                <input type="reset" value="Discard" id="discardDelete" class="btn btn-info"><br/>
                <input type="reset" id="resetPassword2" value="forgotten your password?" class="btn btn-default btn-xs">
            </form>
        </div>
        <div id="resetPasswordForm2" style="display: none">
            <form name="resetPasswordForm" action="/email/send" method="post">
                <div class="form-group">
                    <label for="emailReset2">Email to send temporary password:</label>
                    <input type="email" name="emailReset" class="form-control" id="emailReset2" minlength="6"
                           maxlength="32" required value=<%=user.email%>>
                </div>
                <input type="submit" value="Send" id="saveResetPassword2" class="btn btn-primary">
                <input type="reset" value="Discard" id="discardResetPassword2" class="btn btn-default">
            </form>
        </div>
    </div>
    <% } else { %>
    <% if (!user.username) { %>
    <div class="col-md-4">
        <h3>Add a local profile:</h3>
        <form name="signUpForm" action="/profile/connect" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" id="username" minlength="6"
                       maxlength="32" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" id="password" minlength="6"
                       onkeyup='checkConnectPass();' maxlength="32" required>
            </div>
            <div class="form-group">
                <label for="repeatedPassword">Repeat Password:</label>
                <input type="password" name="repeatedPassword" class="form-control" id="repeatedPassword" minlength="6"
                       onkeyup='checkConnectPass();' maxlength="32" required>
            </div>
            <input type="submit" value="Sign Up" id="signUpSubmit" class="btn btn-primary" disabled>
        </form>
    </div>
    <% } %>
    <div class="col col-md-4"></div>
    <div class="col col-md-4">
        <div id="deleteAccountContainer">
            <label id="deleteAccountLabel" for="deleteAccount">Click to delete your account:</label><br/>
            <button id="deleteAccount" class="btn btn-danger">Delete Account</button>
        </div>
        <div id="deleteAccountForm" style="display: none;">
            <label for="submitDelete">Are you sure you want to delete your profile?</label>
            <form action="/profile/deletegithub" method="post">
                <input type="submit" value="Yes" name="submitDelete" class="btn btn-danger">
                <input type="reset" id="discardDelete" value="No" class="btn btn-info">
            </form>
        </div>
    </div>
    <% } %>
</div>
    <div class="row">
        <div class="col col-md-4">
            <div id="changeEmailContainer">
                <label for="changeEmail">Click to change your email address:</label><br/>
                <button id="changeEmail" class="btn btn-default">Change Email</button>
            </div>
            <div id="changeEmailForm" style="display: none">
                <form action="/profile/emailchange" method="post">
                    <div class="form-group">
                        <label for="changeEmailInput">New Email Address:</label>
                        <input type="email" name="changeEmailInput" id="changeEmailInput" class="form-control"
                               minlength="6"
                               maxlength="32"
                               required>
                        <label for="changeEmailPassword">Confirm changing your email with a password:</label>
                        <input type="password" name="changeEmailPassword" id="changeEmailPassword" class="form-control"
                               minlength="6"
                               maxlength="32"
                               required>
                    </div>
                    <input type="submit" value="Save" class="btn btn-primary">
                    <input type="reset" value="Discard" id="discardChangeEmail" class="btn btn-info"><br/>
                    <input type="reset" id="resetPassword3" value="forgotten your password?" class="btn btn-default btn-xs">
                </form>
            </div>
            <div id="resetPasswordForm3" style="display: none">
                <form name="resetPasswordForm" action="/email/send" method="post">
                    <div class="form-group">
                        <label for="emailReset3">Email to send temporary password:</label>
                        <input type="email" name="emailReset" class="form-control" id="emailReset3" minlength="6"
                               maxlength="32" required value=<%=user.email%>>
                    </div>
                    <input type="submit" value="Send" id="saveResetPassword3" class="btn btn-primary">
                    <input type="reset" value="Discard" id="discardResetPassword3" class="btn btn-default">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/profile.js" type="text/javascript"></script>
<%- include common/footer.ejs %>
